	html {
		font-family: 'Droid Sans', sans-serif;
		height: 100%;   
	}
	body {
		height: 89%;
		margin: .25em .25em;
	}
	 #map-canvas { 
		height: 100%; 

		padding: 0 0;
		clear: both;
	}
	h1 {
		color: #535353;
		font-size: 2em;
		width: auto;
		text-align: center;
	}
	h2 {
		color: #535353;
		font-size: 1.5em;
		width: auto;
		text-align: center;
	}
	.form {
		margin-left: 35%;
		margin-right: 35%;
		display: block;
		width: 100%
	}
	form{
		text-align: left;
	}
	input {
		width: 30%;
	}

	p {
		font-size: 1em;
	}
	nav {
		padding: .5em .5em;
		background-color: #BABABA;
	}
	nav img {
		display: inline;	
		vertical-align: middle;	
	}
	nav ul {
		display: inline;
		vertical-align: middle;	
	}
	
	nav li {
		display: inline-block;
		text-align: center;
		list-style-type: none;
	}
	footer {
		height: auto;
		background: #4D4D4D;
		padding: 0 0;
		margin: 0 0;	
	}
	footer p, footer img {
		display: inline-block;
		vertical-align: middle;
	}
	footer p {
		color: #E4E4E4;
		width: 80%;
		text-align: center;
	}
	footer img {
		width: auto;
	}
	html, body, #map-canvas {
        margin: 0;
        padding: 0;
      }